body {
  background-color: whitesmoke;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif !important;
  margin: 0;
  padding: 0;
  position: relative;
  background: url('./bg.png');
  background-size: cover;
  color: rgb(58, 57, 57);
}

header {
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0.5em;
  transform: translate(0%, 0%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 4em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow:
    1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 139px);
}

.content {
  display: flex;
  gap: 2em;
  padding: 1em;
  background-color: #f5f5f578;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.content section {
  flex-basis: 50%;
}

.scores {
  width: 100%;
}

.scores-top,
.scores-list {
  position: relative;
  width: 100%;
}

.scores-list {
  max-height: calc(100vh - 500px);
  overflow-y: scroll;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
  margin-top: 2em;
  background-color: white;
}

.scores-top span {
  font-size: x-large;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 7em;
  color: blue;
}

input {
  margin: 2em 0 0 0;
  border: gray 1px solid;
  line-height: 2em;
  border-radius: 5px;
}

.scores-top input {
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-bottom: auto;
}

.scores-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 40em;
}

.scores-list ul li {
  padding: 0.5em 0;
  margin: 0;
  width: 100%;
  font-size: medium;
}

.scores-list ul li span {
  padding-left: 5px;
  text-transform: capitalize;
}

.scores-list ul li:nth-child(even) {
  background: rgba(128, 128, 128, 0.2);
}

.score-value {
  color: #000;
  font-weight: bolder;
}

.score-value::before {
  content: "*";
  color: red;
  font-weight: bold;
}

form {
  margin: 0;
  display: flex;
  flex-direction: column;
}

form label {
  font-size: x-large;
  white-space: nowrap;
  margin-right: 4em;
  color: blue;
  text-transform: uppercase;
}

input[type="text"],
input[type="number"] {
  padding-left: 1em;
  border: gray 1px solid;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: blue 1px solid !important;
  outline: none;
}

input[type="button"],
input[type="submit"] {
  width: 7em;
  border: blue solid 1px;
  background: white;
  color: black;
  font-size: medium;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background: blue;
  color: white;
}

wc-toast-item {
  --wc-toast-background: red;
  --wc-toast-max-width: 350px;
  --wc-toast-stroke: #2a2a32;
  --wc-toast-color: #000;
  --wc-toast-font-family: 'Roboto', sans-serif;
  --wc-toast-font-size: 16px;
  --wc-toast-border-radius: 8px;
  --wc-toast-content-margin: 4px 10px;
}
