body {
  background-color: whitesmoke;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif !important;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  width: 100%;
}

h1 {
  margin: 0;
  font-size: xxx-large;
  padding: 0.5em;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*height: calc(100vh - 139px);*/
}

.content {
  display: flex;
  gap: 2em;
}

.content section {
  flex-basis: 50%;
}

.scores {
  width: 100%;
}

.scores-top,
.scores-list {
  position: relative;
  width: 100%;
}

.scores-top span {
  font-size: x-large;
  text-transform: capitalize;
  white-space: nowrap;
  margin-right: 7em;
}

input {
  margin: 2em 0 0 0;
  border: gray 1px solid;
  line-height: 2em;
  border-radius: 5px;
}

.scores-top input {
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-bottom: auto;
}

.scores-list ul {
  list-style: none;
  padding: 0;
  margin: 2em 0 0 0;
  width: 100%;
  border: solid black 2px;
  border-radius: 2px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 40em;
}

.scores-list ul li {
  padding: 0.5em 0;
  margin: 0;
  width: 100%;
  font-size: medium;
}

.scores-list ul li span {
  padding-left: 5px;
  text-transform: capitalize;
}

.scores-list ul li:nth-child(even) {
  background: rgba(128, 128, 128, 0.469);
}

form {
  margin: 0;
  display: flex;
  flex-direction: column;
}

form label {
  font-size: x-large;
  white-space: nowrap;
  margin-right: 4em;
}

input[type="button"],
input[type="submit"] {
  width: 7em;
}

footer {
  background: rgb(0 0 0 / 18%);
  height: 2em;
  width: 100%;
  position: fixed;
  bottom: 0;
}

wc-toast-item {
  --wc-toast-background: red;
  --wc-toast-max-width: 350px;
  --wc-toast-stroke: #2a2a32;
  --wc-toast-color: #000;
  --wc-toast-font-family: 'Roboto', sans-serif;
  --wc-toast-font-size: 16px;
  --wc-toast-border-radius: 8px;
  --wc-toast-content-margin: 4px 10px;
}